<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>controller.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotes</servlet-name>
        <servlet-class>controller.AddNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNote</servlet-name>
        <servlet-class>controller.EditNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNote</servlet-name>
        <servlet-class>controller.DeleteNote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/LoginChecker</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationChecker</servlet-name>
        <servlet-class>controller.RegistrationChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationChecker</servlet-name>
        <url-pattern>/RegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>landing.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>AddNotes</servlet-name>
        <url-pattern>/AddNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNote</servlet-name>
        <url-pattern>/EditNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNote</servlet-name>
        <url-pattern>/DeleteNote</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/lib/taglibs-standard-jstl-1.2.5.jar</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
